<h1>Pie Games</h1>
<p>Click on the name of a game to play it!</p>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Edit </th>
  </tr>

<% Game.where(:error => false).each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.author %></td>
    <td><%= link_to "Edit", edit_game_path(game) %></td>
  </tr>
<% end %>
</table>

<br />
<h2>Games in Progress (with errors)</h2>
<table>

<% Game.where(:error => true).each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.author %></td>
    <td><%= link_to "Edit", edit_game_path(game) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Game', new_game_path %>

<%= render 'help' %>

<p> using pie version <%= `gem list pie`.match(/.*\(([^\)]*)/)[1] %></p> 

