<p>Click on the name of a game to play it!</p>

<div class="page-header">
  <h2>Games in Progress</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Edit </th>
    </tr>
  </thead>
  <tbody>
<% Game.where(:error => false, :deleted => false).each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.author %></td>
    <td><%= link_to "Edit", edit_game_path(game) %></td>
  </tr>
<% end %>
</tbody>
</table>

<p><%= link_to 'Create a New Game', new_game_path, :class=>"btn btn-large btn-primary" %></p>

<div class="page-header">
  <h2>Games in Progress <small>(with errors)</small></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Edit </th>
    </tr>
  </thead>
  <tbody>
<% Game.where(:error => true, :deleted => false).each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.author %></td>
    <td><%= link_to "Edit", edit_game_path(game) %></td>
  </tr>
<% end %>
</tbody>
</table>
<p><%= link_to 'Create a New Game', new_game_path, :class=>"btn btn-large btn-primary" %></p>
