<h1>Pie Games</h1>
<p>Click on the name of a game to play it!</p>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Edit </th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <td><%= game.author %></td>
    <td><%= link_to "Edit", edit_game_path(game) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>

<%= render 'help' %>

